// @import './common/vars.sass'
@import './common/gem.scss'
@import './common/index_2'
@import './common/index_3'
@import './common/index_4'
//start here



html, body
    margin: 0
    padding: 0
    width: 100%
    height: 100vh
    background: url(../image/hero.jpg)
    background-size: cover

.header
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: -1
    animation: showheader 0.5s ease
    animation-fill-mode: forwards
    animation-delay: 6.8s
    h1
        font-family: "Monument Extended"
        text-transform: uppercase
        font-size: 100px
        color: white
    // a
    //     text-decoration: none
    //     display: flex
    //     position: fixed
    //     top: -280px
    //     right: -200px
    //     background: #000
    //     color: #fff
    //     padding: 18px 30px
    //     justify-content: center
    //     align-items: center
    //     transition: all 0.45s ease
    //     z-index: 15
    //     &:hover
    //         transform: translate3d(-5px, -5px, 0)
    //     &:nth-child(2)
    //         top: 350px
    //         right: -200px

    .logo_bl
        position: fixed
        top: gem(40)
        left: gem(30)
            
    // .liquid
    //     top: -280px
    //     right: -200px

@keyframes showheader
    0%
        z-index: -1
    100%
        z-index: 1

.header
    .neon_button
        position: relative
        display: inline-block
        padding: 25px 30px
        margin: 40px 0
        color: #03e9f4
        font-size: 24px
        text-decoration: none
        text-transform: uppercase
        transition: .5s
        letter-spacing: 4px
        overflow: hidden
        z-index: -1
        animation: showheader 0.5s ease
        animation-fill-mode: forwards
        animation-delay: 6.8s
        -webkit-box-reflect: below 1px linear-gradient(transparent,#0005)
        &:nth-child(1)
            filter: hue-rotate(290deg)
        &:nth-child(2)
            filter: hue-rotate(110deg)
            top: -500px
            left: -200px
        &:hover
            background: #03e9f4
            color: #050801
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4
        span
            position: absolute
            display: block
            &:nth-child(1)
                top: 0
                left: 0
                width: 100%
                height: 2px
                background: linear-gradient(90deg,transparent, #03e9f4)
                animation: animate1 1s linear infinite
            &:nth-child(2)
                top: -100%
                right: 0
                width: 2px
                height: 100%
                background: linear-gradient(180deg,transparent, #03e9f4)
                animation: animate2 1s linear infinite
                animation-delay: 0.25s
            &:nth-child(3)
                bottom: 0
                right: -100%
                width: 100%
                height: 2px
                background: linear-gradient(270deg,transparent, #03e9f4)
                animation: animate3 1s linear infinite
                animation-delay: 0.5s
            &:nth-child(4)
                bottom: -100%
                left: 0
                width: 2px
                height: 100%
                background: linear-gradient(360deg,transparent, #03e9f4)
                animation: animate4 1s linear infinite
                animation-delay: 0.75s
    .gradient_button
        position: relative
        bottom: -150px
        left: -450px
        display: inline-block
        width: 160px
        height: 50px
        line-height: 48px
        background: #000
        text-transform: uppercase
        font-size: 20px
        letter-spacing: 4px
        text-decoration: none
        -webkit-box-reflect: below 1px linear-gradient(transparent,#0005)
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00)
            background-size: 400%
            opacity: 0
            filter: blur(20px)
            transition: .5s
            animation: animategrad 20s linear infinite
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00)
            background-size: 400%
            opacity: 0
            filter: blur(20px)
            transition: .5s
            animation: animategrad 20s linear infinite
        span
            position: absolute
            display: block
            top: 1px
            right: 1px
            left: 1px
            bottom: 1px
            text-align: center
            background: #0c0c0c
            color: rgba(255,255,255,0.2)
            transition: .5s
            z-index: 1
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 50%
                background: rgba(255,255,255,0.1)
        &:hover
            ~.cursor
                transform: scale(6)
            &::before,&::after
                opacity: 1
            span 
                color: rgba(255,255,255,1)
@keyframes animategrad
    0%
        background-position: 0 0
    50%
        background-position: 300% 0
    100%
        background-position: 0 0
        
    
@keyframes animate1
    0%
        left: -100%
    50%,100%
        left: 100%
@keyframes animate2
    0%
        top: -100%
    50%,100%
        top: 100%
@keyframes animate3
    0%
        right: -100%
    50%,100%
        right: 100%
@keyframes animate4
    0%
        bottom: -100%
    50%,100%
        bottom: 100%
        
                

.container
    width: 100%
    height: 100vh
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    background: #161616
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s
    animation-fill-mode: forwards

.cursor
    position: fixed
    width: 20px
    height: 20px
    border-radius: 50%
    background: #fff
    transition: 0.1s
    transform: translate(-50%,-50%)
    pointer-events: none
    mix-blend-mode: difference
    z-index: 10

.text-wrapper
    color: white
    position: absolute

.text
    font-family: "Monument Extended"
    font-weight: lighter
    font-size: 35px

.text-1,.text-3,.text-4,.text-8,.text-9,.text-11
    color: rgba(0, 0, 0, 0)
    -webkit-text-stroke: 1px white

@keyframes blink
    0%
        opacity: 0
    1%
        opacity: 100%
    99%
        opacity: 100%
    100%
        opacity: 0

.text-1
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s
    opacity: 0

.text-2
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s
    opacity: 0

.text-3
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s
    opacity: 0

.text-4
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s
    opacity: 0

.text-5
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s
    opacity: 0

.text-6
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s
    opacity: 0

.text-7
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s
    opacity: 0

.text-8
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s
    opacity: 0

.text-9
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s
    opacity: 0

.text-10
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s
    opacity: 0

.text-11
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s
    opacity: 0


@keyframes slide-out
    0%
        opacity: 0
    1%
        opacity: 100%
    19%
        opacity: 100%
    20%
        opacity: 0
    39%
        opacity: 0
    40%
        opacity: 100%
    59%
        opacity: 100%
    60%
        opacity: 0
    79%
        opacity: 0
    80%
        opacity: 100%
    100%
        opacity: 100%

@keyframes slide-out-container
    0%
        height: 100vh
    40%
        height: 100vh
    100%
        height: 0%